* {
  box-sizing: border-box;
  text-align: center;
}

#gameboard {
  width: auto;
  height: auto;
  display: inline-block;
  text-align: center;
}

.gameColumn {
  display: inline-block;
  width: 50px;
  height: 302px;
  background-color: white;
  border: solid 1px black;
  position: relative;
}

.gameSquare {
  bottom: auto;
  display: block;
  height: 50px;
  width: auto;
  background-color: black;
  pointer-events: none;
  border-radius: 50px;
}
